[Unit]
Description=Pi Bus privileged system action

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pi-bus-system-action
Nice=10
CPUQuota=100%
CPUWeight=25
IOWeight=25
TimeoutStartSec=15min
KillMode=control-group
